<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/style.css" rel="stylesheet">

    <meta charset="utf-8">
    <title>ParkBark</title>
</head>
<body>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/dogs">Dogs</a>
            </li>
            <li>
                <a href="/humans">Humans</a>
            </li>
            <li>
                <a href="/breeds">Breeds</a>
            </li>
            <li>
                <a href="/relation_types">Relation Types</a>
            </li>
            <li>
                <a href="/dog_human_relations">Dog-Human Relations</a>
            </li>
            <li>
                <a href="/visits">Visits</a>
            </li>
        </ul>

    {{{body}}}

</body>
</html>