        <h1>
            Welcome to the ParkBark DB Administration Page!
        </h1>
        <p>Please feel free to acquaint yourself with your admin privileges.</p>
        <p>Administer dogs in the database here: <a href="/dogs">Dogs</a></p>
        <p>Administer humans in the database here: <a href="/humans">Humans</a></p>
        <p>Administer breeds in the database here: <a href="/breeds">Breeds</a></p>
        <p>Administer relationship types in the database here: <a href="/relation_types">Relation Types</a></p>
        <p>Administer dogs-human relationships in the database here: <a href="/dog_human_relations">Dog-Human Relations</a></p>
        <p>Administer park visits in the database here: <a href="/visits">Visits</a></p>